@use "./styles/variables" as *;

@mixin underline(
  $colorFrom1: white,
  $colorTo1: white,
  $colorFrom2: black,
  $colorTo2: black
) {
  background: linear-gradient(to right, $colorFrom1, $colorTo1),
    linear-gradient(to right, $colorFrom2, $colorTo2);

  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  text-decoration: none;

  transition: background-size 400ms, color 200ms;
  // &:hover {
  //   background-size: 0 2px, 100% 3px;
  // }
}

@mixin horizontal_splitter($color, $height){
  width: 100%;  
  background-color: $color;
  height: $height;  
  border: 0;
}


@mixin decor_line($bg-color) {
  height: 1rem;
  background-color: $bg-color;
}

@mixin link() {
  color: $color-bluedefrnc;
  
  &:hover {
    color: $color-suncycl;
  }
  
  &:visited {
    color: $color-iris;
  }
  
}
  
@mixin text_muted($color, $opacity) {
  color: rgba($color, $opacity);
}

// @mixin btn_on_click() {
//   &:active {
//     background-color: white;
//     outline: none !important;
//   }

//   &:focus {
//     outline: none !important;
//     background-color: white;
//   }
// }

// @mixin icon() {
// }

@mixin icon_on_hover() {
  background-color: rgba($color-daslgrey, 0.1);
}

@mixin truncate_lines_after($number_of_lines, $line_height: 1.2rem) {
  display: -webkit-box;
  -webkit-line-clamp: $number_of_lines; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical;
  line-height: $line_height; /* adjust this as needed */
  max-height: $line_height * $number_of_lines; /* height is line-height times the number of lines */
  overflow: hidden;
}
