@use "./variables" as *;
@use "./mixins" as *;
@import './reset.scss';

html {
body {
  p,
  h1,
  h2 {
    
  }

  p {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $color-daslgrey;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  button {
    &:focus {
      border: none;
    }

    &:active {
      border: none;
    }

    &:visited {
      border: none;
    }
  }

  scroll-behavior: smooth;
  overflow-x: hidden;  
}


  overscroll-behavior: none;
}

.disabled {
  color: rgba($color-daslgrey, 0.3) !important;
  pointer-events: none;
}

.min-vh-80 {
  min-height: 80vh;
}

button[disabled]{
  background-color: rgba($color-daslgrey, 0.1) !important;
  border-color: rgba($color-daslgrey, 0.1) !important;
  cursor: not-allowed !important;
}

