@use "styles/variables" as *;
@use "styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

$border_thickness: 2px;
$padding: 1rem;

.filters_container {
  margin-right: 1em;

  .filter_accordion {
    border: 2px solid $color-alabaster;

    height: fit-content;
    width: 20rem;

    border-radius: 0 1em 1em 0;
    padding: 1em 1em 1em 3em;

    .price_slider {
      // padding: $padding;
    }

    .filter_checks {
      border-bottom: 2px solid $color-alabaster !important;

      &:last-child {
        border-bottom: none !important;
      }

      .check {
        padding-left: $padding;
      }
    }
    // .splitter {
    //   opacity: 0.6;
    //   border: 0;
    //   height: $border_thickness;
    //   background-color: $color-medbud;
    // }

    .accordion_item {
      h2 {
        button {
          outline: none !important;
          // background-color: magenta !important;
          background-color: transparent !important;
          box-shadow: none !important;
        }
      }

      input {
      }
    }
    .price_slider_item {
      border-bottom: 2px solid $color-alabaster !important;

      div {
        padding: 0.2em !important;
      }
    }
  }
}
