@use "./styles/variables" as *;

$border: 2px solid $color-medbud;
$radius: 0.5rem;

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  .btn_group {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    border: 1px solid $color-medbud;
    border-radius: $radius;

    label {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0;

      &:last-child {
        border-radius: 0 $radius $radius 0;
      }
      &:first-child {
        border-right: 1px solid $color-medbud;
        border-radius: $radius 0 0 $radius;
      }
    }
  }

  .select {
    display: none;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    .btn_group {
      display: none;
    }
    .select {
      display: block;
    }
  }
  @media screen and (width < 420px) {
  }
}
