@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/mixins/buttons" as *;

.modal {
  color: $color-daslgrey;

  .button_group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    list-style: none;

    li:last-child button {
      // @include button(white, $color-decapink);
      @include button(white, $color-decapink);
    }
    li:first-child button {
      @include button($color-daslgrey, $color-medbud);
    }
  }
}
