@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.like_button {
  color: $color-yelgreen-bright;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;

  // border: 1px solid black;

  @include icon;
  padding: 0.2em;

  position: absolute;
  border-radius: 5px 0 0 5px;
  background-color: white;
  top: 1.5rem;
  right: 0;

  i {
    transition: color 0.25s;

    &:hover {
      color: $color-spink;
    }
    &.liked {
      color: $color-spink;
    }
  }
}
