@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.card {
  display: flex;
  flex-flow: column nowrap;

  position: relative;
  padding: 0.4rem;

  height: 100%;
  width: 100%;

  background-color: white;
  box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 0.4);

  color: $color-daslgrey;

  transition: transform 0.25s, box-shadow 0.2s 0.1s;

  .figure {
    flex: 0 0 75%;
    max-height: 75%;
  }

  .buy_info {
    // background-color: magenta;
    flex: 0 1 20%;
  }

  .rating {
    flex: 0 1 20%;
  }
}
