@use "./styles/variables" as *;
@use "./styles/mixins" as *;

$radius: 0.7rem;
$small_radius: 0.3rem;

.product_card {
  display: flex;
  flex-flow: column nowrap;

  position: relative;
  padding: 0.4rem;
  // border-radius: 1px;

  // height: 25rem;
  // width: 15rem;

  background-color: white;
  box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 0.4);

  color: $color-daslgrey;

  transition: transform 0.25s, box-shadow 0.2s 0.1s;

  //todo enable hover back
  // &:hover {
  //   transform: scale(1.1, 1.1);
  //   z-index: 99;
  //   box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 1);
  // }
}
