@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.buy_info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
  font-size: 1.5rem;

  .price {
    color: $color-suncycl;
    span {
      font-size: 0.7em;
    }
  }

  .add_to_cart_button {
    border-radius: 5px;
    padding: 0.2rem 0.6rem;

    color: $color-dureen;

    &:hover {
      @include icon_on_hover;
    }
  }
}
