@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.like_button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  border-radius: 5px;

  position: absolute;
  top: 1.5rem;
  right: 0;

  color: $color-yelgreen-bright;

  &:hover {
    @include icon_on_hover;
  }

  &.liked {
    color: $color-spink;
  }
}
