@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.password_input_container {
    display: flex;
    
    .eye_button {
        font-size: 1.5em;
        color: $color-daslgrey;
        
        &:hover{
            //todo styles eye for hover 
        }
    }
}