@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.auth_popover {
  box-shadow: 0 0 4px 3px rgba($color-daslgrey,0.2);
  --bs-popover-border-color: transparent !important;

  background-color: white;

  .unsigned_popover {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;

    .sign_up {
      @include link;
      &:hover {
        text-decoration: underline;
      } 
    }

    p {
      white-space: nowrap;
      margin-bottom: 0;
    }

    .sign_in_button {
      width: 100%;

      @include font-size(1.5rem);
      background-color: $color-dureen;
      color: $color-milk;

      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      &:hover {
        background-color: $color-dureen;
      }
      &:active {
        color: $color-milk;
      }
    }
  }
}


.overlay_trigger {
  display: flex;
  align-items: center;
  justify-content: center; 

  .profile_icon {
    color: $color-daslgrey;

    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {  
      display: none;
} 
}

