@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.recs {
  padding: 0 2rem;
  height: 22rem;

  color: $color-daslgrey;

  .scroll_container {
    padding: 25px 0;
    height: 90%;
  }

  .col {
    flex: 0 0 auto;
    width: 16rem;
  }
}
