@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr;

  grid-template-areas:
    "sort sort"
    "filter gallery"
    "filter gallery";

  .sort_group {
    margin-right: 1rem;
    grid-area: sort;
    padding: 1rem 0;
  }

  .filters {
    grid-area: filter;
  }

  .gallery {
    grid-area: gallery;

    margin: 0 1rem;
    margin-left: 0;
  }

  @media screen and (width < 1100px) {
    grid-template-areas:
      "filter sort"
      "gallery gallery"
      "gallery gallery";

    .gallery {
      margin-left: 1rem;
    }

    .filters {
      display: none;
    }
  }

  @media screen and (width < 620px) {
    .gallery {
      margin: 0;
    }
  }
}
