@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  display: flex;
  flex-flow: row nowrap;

  .filters {
    flex: 1 1 20%;

    @media screen and (width < 992px) {
      display: none;
    }
  }

  .gallery {
    flex: 1 1 80%;
    margin: 0 1rem;
    margin-left: 0;

    @media screen and (width < 992px) {
      margin-left: 1rem;
    }

    @media screen and (width < 620px) {
      width: 100vw;
      margin: 0;
    }
  }
}
