@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/mixins/buttons" as *;

.header {
  color: $color-decapink;
}

.body {
  p {
    max-width: 60ch;
  }
  button {
    margin-top: 1rem;
    @include button(white, $color-decapink);
    width: fit-content;
  }
}
