@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.header {
  display: flex;
  align-items: center;
  gap: 1vw;

  // .search_bar {
  //   flex: 0 1 50% !important;
  // }

  // .overlay_trigger {
  //   flex: 0 0 10% !important;
  // }

  // .icon_btn_group {
  //   flex: 1 1 25% !important;
  // }

  // .logo {
  //   flex: 0 1 25% !important;
  // }

  padding: 0.4rem;

  
  width: 100%;
  
  font-size: 2rem;
  
  background-color: $color-medbud; 
}

.underline {
  height: 1rem;
  width: 100%;
  background-color: $color-nyanza;
}


