@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;

  gap: 2%;

  width: 100%;
  height: 5rem;

  font-size: 2rem;
  background-color: $color-medbud;

  .offcanvas_toggler {
    flex: 0 3 7%;
  }

  .logo {
    flex: 0 5 fit-content;
  }

  .search_bar {
    flex: 1 5 35%;
  }

  .icon_btn_group {
    flex: 3 0 5%;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      padding: 0;
      margin: 0;
    }

    $icon-size: 2rem;

    i {
      color: $color-daslgrey;
      font-size: $icon-size;
    }

    img {
      border-radius: 2rem;
      height: $icon_size;
      width: $icon_size;

      object-fit: cover;
    }
  }

  @media only screen and (width < 1200px) {
    .search_bar {
      flex-grow: 5;
    }
    .offcanvas_toggler {
      flex-grow: 0.1;
    }
  }
}

.underline {
  height: 1rem;
  width: 100%;
  background-color: $color-nyanza;
}
