@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.header {
  display: flex;
  align-items: center;
  gap: 1vw;

  .offcanvas_toggler ,
  .logo ,
  .search_bar ,
  .overlay_trigger ,
  .icon_btn_group {
    border: 2px dotted blue;
  }
    

  .offcanvas_toggler {
    flex: 0 1 5%;    
  }
  
  .logo {
    flex: 1 1 fit-content;
  }

  .search_bar {
    flex: 2 1 40%;
  }

  .overlay_trigger {
    flex: 1 1 10%;
    justify-content: flex-start;
  }

  .icon_btn_group {
    flex: 1 1 25%;
  }

  padding: 0.4rem;
  
  width: 100%;
  
  font-size: 2rem;
  
  background-color: $color-medbud; 
}

.underline {
  height: 1rem;
  width: 100%;
  background-color: $color-nyanza;
}


