@use "./styles/variables.scss" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

$radius: 0.7rem;

.cat_card {
  display: flex;
  flex-direction: column;
  gap: 5%;
  overflow: hidden;

  border-radius: $radius;
  width: 17rem;
  height: fit-content;

  box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 0.3);

  background-color: $color-white;

  color: $color-daslgrey;
  

  img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
    max-height: 9em;
    object-position: center;
  }

  .naming {
    margin-top: 0.1em;
    padding: 0.1em 0.5em;
    line-height: 100%;

    font-weight: bold;

    background-color: $color-nyanza;

    &:hover {
      text-decoration: underline;
    }
  }

  .subcat_list {
    color: $color-palebud;
    list-style-type: disc;

    li {
      &:hover {
        color: $color-daslgrey;
        a {
          text-decoration: underline;
        }
      }
    }
  }

  transition: transform 0.3s, box-shadow 0.1s;
  &:hover {
    z-index: 99;
    box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 0.9);
  }
}
