@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@import "node_modules/rfs/sass.sass";

.gallery {
  .header {
    h2 {
      width: 20%;
      a {
        @include margin-left(20%);

        // font-weight: bold;
        
        @include font-size(2.5rem);
        color: $color-daslgrey;
      }
    }

    &:hover a {
    }
  }

  background: radial-gradient(
      5% 50% at 0% 50%,
      #c8e59b -50%,
      rgba(252, 255, 247, 0) 100%
    ),
    radial-gradient(
      5% 50% at 100% 50%,
      #c8e59b -50%,
      rgba(252, 255, 247, 0) 100%
    );

  .decor_line {
    @include decor_line($color-nyanza);
  }
}
