@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.description {
  padding: 2em;
  // font-size: 2em;
  color: $color-daslgrey;

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  table {
    border-radius: 6px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;

    th {
      @include text_muted($color-daslgrey, 0.8);
    }

    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  }

  .title {
    width: fit-content;
    // @include link($color-medbud, $color-nyanza, $color-bangreen, $color-medbud);
    cursor: pointer;
  }

  .splitter {
    // @include decor_line($color-alabaster);
  }

  .text {
    margin-top: 1em;
    font-size: 1.3em;
    overflow-wrap: break-word;
  }
}
