@use "./styles/variables" as *;
@use "./styles/mixins" as *;

$radius: 4rem;
$radius-sm: 1em;
$padding: 0.4rem;
$border: 1rem;
$border-sm: 0.5rem;

$padding-lg: 3rem;

.product_banner {
  color: $color-daslgrey;
  

  display: flex;
  gap: 2rem;

  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 45%;

    z-index: -32;

    .image {
      padding: 1em;
      object-fit: contain;
    }
  }

  .frame2 {
    .image {
      padding: 1em;
      object-fit: contain;
    }
    
    .thumbnails {
      display: flex;
      overflow-x: auto;
      padding: 0px 48px;
    }

    .thumbnail_image{
      object-fit: contain;
    }
    
    .thumbnail {
      margin-right: 10px;
      cursor: pointer;
      border: 2px solid transparent;
    }
    
    .thumbnailSelected {
      border: 2px solid #c8e59b;
      margin-right: 10px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 2 1 60%;

    position: relative;

    border-radius: $radius 0 0 2rem;

    .header {
      padding: 1rem;
      padding-bottom: 0;

      .name {
        font-size: 2rem;
        color: black;
      }
    }

    .body {
      display: flex;
      align-items: center;
      gap: 2rem;

      padding: 1em;

      .buy_area {
        display: flex;
        align-items: center;
        gap: 1rem;

        border-radius: 0.5rem;
        border: 0.2rem solid $color-alabaster;
        padding: 1rem;

        width: fit-content;

        background-color: $color-milk;
        font-size: 3em;

        .price {
          display: flex;
          flex-direction: column;
          line-height: 1;
          // margin: 1rem;

          font-size: 2rem;
          font-weight: bold;
          color: $color-suncycl;
          .currency {
            font-weight: 100;
            font-size: 1.5rem;
          }
          .left {
            color: $color-daslgrey;
            // margin-left: 0.5rem;
            font-size: 1rem;
          }
        }

        .buy_button {
          background-color: $color-yelgreen;
          color: inherit;

          font-size: 0.5em;
          p {
            margin-bottom: 0;
            font-weight: bold;
            font-size: inherit;
          }

          i {
            font-size: inherit;
            line-height: 100%;
          }
        }
      }

      .like_button,
      .comment_button {
        font-size: 2rem;
        color: $color-yelgreen;
      }
    }
  }
}
