@use "styles/variables" as *;
@use "styles/mixins" as *;

.body {
  display: flex;
  margin-bottom: 30px;

  .profile_image {
    flex: 0 1 30%;
  }

  .user_info_form {
    flex: 0 1 70%;
  }

  @media screen and (width < 576px) {
    flex-flow: column nowrap;
  }
}
