@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.sign_in_link {
    padding: 0.5em;
        @include link;
}

.by_credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    a {
        text-decoration: none;
        color: $color-bluedefrnc;
      }
    

    .input_group {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
    }
}