@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.small_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  border: 1px solid $color-yelgreen;
  border-radius: 1rem;
  width: 25rem;
  height: 10rem;

  
  color: $color-daslgrey;

  .image {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .name {
    padding: 0.5rem;
  }
}
