@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.body {
  font-size: 1.3rem;

  ul {
    $border: 2px solid rgba($color-daslgrey, 0.1);
    border-bottom: $border;
    padding: 1rem 0;

    &:first-of-type {
      border-top: $border;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  .link_section {
    padding: 1rem;

    h5 {
      color: rgba($color-daslgrey, 0.7);
      padding-bottom: 1rem;
    }
  }
}
