@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.header {
  padding: 1rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    white-space: nowrap;
    font-size: 1.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
      object-fit: cover;
    }
  }
}
