@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.header {
  display: flex;

  border-bottom: 2px solid rgba($color-daslgrey, 0.1);
  background-color: $color-medbud;

  border-radius: 0 1rem 0 0;

  button {
    padding: 1rem !important;
    border-radius: 0.5rem;

    font-size: 1rem;

    &:hover {
      @include icon_on_hover;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    white-space: nowrap;
    font-size: 1.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
      object-fit: cover;
    }
  }
}
