
@use "styles/variables" as *;
@use "styles/mixins" as *;
@import "node_modules/rfs/sass.sass";


.card {    
    
    color: $color-daslgrey;
    border: 1px solid rgba($color-daslgrey, 0.1);

    .header {
        
        display: inline-flex;
        align-items: center;
        gap: 10px;
        
        border-bottom: 1px solid rgba($color-daslgrey, 0.1);

        background-color: $color-alabaster;
        background-color: white;

        i {
            font-size: 1.8rem;
        }
    }

    .body 
    {
        padding: 15px;
        padding-top: 25px;
    }
  }