@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/mixins/buttons" as *;

.modal {
  color: $color-daslgrey;

  .button_group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    margin-top: 2rem;

    list-style: none;

    font-size: 1.2rem;

    button {
      @include save_button;
    }
  }
}
