@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

//todo if image background is white, there is no border between text element and image and as well there is no border on top of card, correct this
//todo padding on name

.card {
  display: flex;
  flex-flow: column nowrap;

  border-radius: 5px;

  height: 100%;
  width: 100%;

  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: $color-daslgrey;

  box-shadow: 0 0 0 0.2em white, 0 0 0.3em 0.2em rgba($color-daslgrey, 0.4);
  background-color: white;

  img {
    flex: 0 1 70%;
    min-height: 70%;

    border-radius: 5px;

    width: 100%;
    max-height: 70%;

    object-fit: contain;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 1 30%;
    padding: 0 0.5rem;
    p {
      @include truncate_lines_after(2);
    }
  }

  transition: box-shadow 0.25s;
  &:hover {
    z-index: 99;
    box-shadow: 0 0 0 0.2em white, 0 0 0.3em 0.2em rgba($color-daslgrey, 1);

    p {
      text-decoration: underline;
    }
  }
}
