@use "./styles/variables" as *;
@import "node_modules/rfs/sass.sass";

.subcategories_gallery {
  padding: 0 3rem;

  .col {
    flex: 0 0 11%;
    max-width: 11%;
  }

  // @media screen and (width < 1400px) {
  //   .col {
  //     flex: 0 0 12%;
  //     max-width: 12%;
  //   }
  // }
  // @media screen and (width < 1200px) {
  //   .col {
  //     flex: 0 0 14%;
  //     max-width: 14%;
  //   }
  // }
}
