@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.icon_btn_group {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    gap: 1em;

    color: $color-daslgrey;

    .icon_btn {
      display:flex;
      justify-content: center;
      align-items: center;

      height: 3em;
      width: 3em;
      
      color: inherit;

      $icon_size: 2em;
      .icon {
        // font-size: $icon_size;
        @include icon;
      }

      .profile_picture {
        @include icon;
        border-radius: 1em;
        height: $icon_size;
        width: $icon_size;
    
        object-fit: cover;
      }

      &:hover {
        @include icon_on_hover;
      }
    }
  }