@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.logo {
    display: flex;
    justify-content: center;

    color: $color-daslgrey !important;


    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      color: $color-daslgrey;
      // todo
    }
  }