@use "./styles/variables" as *;
@import "node_modules/rfs/sass.sass";

.search_bar {
    display: flex;

    .search_field {
      flex: 0 1 80%;
      border: 0;
      border-radius: 1rem 0 0 1rem;

      @include font-size(1.5rem);

      &::placeholder {
        color: $color-indep-muted;
      }
    }

    .search_button {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 0.3rem;

      flex: 0 1 10%;
      border-radius: 0 1rem 1rem 0;

      background-color: $color-dureen;
      color: white;
      font-size: 1.5rem;

      i {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: 600px) {
        p {
            display: none;
        }
      } 
    }
  }


//   /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}