@use "./styles/variables" as *;
@use "./styles/mixins" as *;

$radius: 0.7rem;
$small_radius: 0.3rem;

.product_card {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 0.4rem;
  border-radius: 0.01px;

  //todo change it back to 25rem
  height: 25rem;
  // height: fit-content;
  width: 15rem;
  overflow: hidden;

  background-color: white;
  box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 0.4);

  color: $color-daslgrey;
  

  .like_button {
    color: $color-yelgreen-bright;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

    // border: 1px solid black;

    
    padding: 0.2em;

    position: absolute;
    border-radius: 5px 0 0 5px;
    background-color: white;
    top: 1.5rem;
    right: 0;

    i {
      transition: color 0.25s;

      &:hover {
        color: $color-spink;
      }
      &.liked {
        color: $color-spink;
      }
    }
  }

  .image_link {
    flex: 0 1 60%;
    max-height: 60%;
    .image {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .name {
    flex: 0 1 20%;
    @include truncate_lines_after(2);
    margin-top: 0.5em;
  }

  .rating {
    flex: 0 1 5%;
    margin-top: 0.4em;
    display: flex;
    gap: 1em;
    line-height: 1rem;

    .stars {
      display: flex;

      .star {
        color: #d3d3d3;

        &.checked {
          color: orange;
        }
      }
    }

    .amount_reviews {
      display: flex;
      gap: 5px;
      i {
        font-size: 0.75em;
      }
      span {
        @include text_muted($color-daslgrey, 0.8);
        font-size: 0.9em;
      }
    }
  }

  .buy_info {
    flex: 1 1 15%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;
    font-size: 1.5em;
    .price {
      color: $color-suncycl;
      span {
        font-size: 0.75em;
      }
    }

    .buy_button {
      border: none;
      border-radius: 5px;
      padding: 0.2rem 0.6rem;

      background-color: white;
      color: $color-dureen;

      font-size: inherit;

      &:hover {
        @include icon_on_hover;
      }
    }
  }
  transition: transform 0.25s, box-shadow 0.2s 0.1s;

  //todo enable hover back
  // &:hover {
  //   transform: scale(1.1, 1.1);
  //   z-index: 99;
  //   box-shadow: 0 0 0 0.5em white, 0 0 0.3em 0.5em rgba($color-daslgrey, 1);
  // }
}
